
<div class="signindex">
<header>
    <h1 class="head2">CREATE AN ACCOUNT</h1>
</header>
<section>
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="Username"/>
      <input type="email" placeholder="Email Address"/>
      <input type="password" placeholder="New Password"/>
      <input type="password" placeholder="Re-enter Password"/>
      <button>create</button>
    </form>
    <form class="login-form">
      <input type="text" placeholder="Username"/>
      <input type="email" placeholder="Email Address"/>
       <input type="password" placeholder="New Password"/>
      <input type="password" placeholder="Re-enter Password"/>
      <button>Sign Up</button>
      <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
        class="fw-bold text-body"><u>Login here</u></a></p>

    </form>
  </div>
</div>
</section>
</div>