
<section>

    <img class="img" src="/images/mernlogo.png" alt="">
  
    <div class="indexin">
        <h1>Welcome to the world of MERN! </h1>
        <h1>You Are Successfully Entered into the Page!</h1>
        <h1>Now you Can Logout.</h1>
        <div class="d-grid gap-2 col-6 mx-auto justify-content-center ">
        <a href="/logout"><button class="btn btn-success" type="submit"><span style="size: 20px; font-weight:bold">Logout</span></button></a>
 
         </div>
    </div>

</section>


